body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #222222;
}

.nav__link {
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav__link.login {
    right: 0;
}

#app {
    margin: 0;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

tr {
    
}


